* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 1440px;
  height: 100vh;
  background: hsl(212, 45%, 89%);
}

.card {
  width: 270px;
  height: 430px;
  border-radius: 15px;
  background: red;
  margin: 0 auto;
}

.qr {
  width: 240px;
  margin: 15px auto;
}

.qr img {
  border-radius: 10px;
}
