/*Estilos Gerais*/
* {
  margin: 0;
  padding: 0;
  font-family: "Outfit", sans-serif;
}

img {
  max-width: 100%;
}

h1 {
  font-size: 20px;
  margin-top: 20px;
  color: hsl(218, 44%, 22%);
}

p {
  font-size: 15px;
  margin-top: 15px;
  color: hsl(220, 15%, 55%);
}

/*Conteúdo*/

.container {
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  max-width: 1440px;
  height: 100vh;
  background: hsl(212, 45%, 89%);
}

.card {
  width: 300px;
  height: 470px;
  border-radius: 15px;
  text-align: center;
  background: hsl(0, 0%, 100%);
  margin: 0 auto;
}

.qr {
  width: 270px;
  margin: 15px auto;
}

.qr img {
  border-radius: 10px;
}
